<ion-content class="sidebar">
  <ion-button fill="default" color="dark">
    <ion-icon expand="full" slot="icon-only" name="documents"></ion-icon>
  </ion-button>
  <ion-button fill="default" color="dark">
    <ion-icon expand="full" slot="icon-only" name="document-text"></ion-icon>
  </ion-button>
  <ion-button fill="default" color="dark">
    <ion-icon expand="full" slot="icon-only" name="git-branch"></ion-icon>
  </ion-button>
  <ion-button fill="default" color="dark">
    <ion-icon expand="full" slot="icon-only" name="stats-chart"></ion-icon>
  </ion-button>
  <ion-button fill="default" color="dark">
    <ion-icon expand="full" slot="icon-only" name="cloud-download"></ion-icon>
  </ion-button>
  <ion-button fill="default" color="dark">
    <ion-icon expand="full" slot="icon-only" name="book"></ion-icon>
  </ion-button>
  <ion-button fill="default" color="dark">
    <ion-icon expand="full" slot="icon-only" name="build"></ion-icon>
  </ion-button>
</ion-content>