ion-card {
  margin: 20px auto;
  max-width: 300px;
}

ion-card .creation {
  background-color: var(--ion-color-success);
}

ion-card-content {
  padding-top: 10px;
  // color: var(--ion-color-dark-tint);
}

ion-input {
  --padding-top: 0px;
  --padding-bottom: 0px;
}

#button-content {
  justify-content: right;
}