.menu {
  --ion-background-color: var(--ion-actionbar-background);
  --ion-text-color: var(--light-color);
  --padding-start: 2px;
  width: var(--menu-size);
}

.connection {
  --padding-top: 11px;
  --padding-start: 5px;
}