 <ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="name" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="mail"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
    
        <ion-button expand="block" type="submit" [disabled]="!credentialsForm.valid || loading">Register</ion-button>
        <ion-button expand="block" type="button" color="secondary" [disabled]="loading" [routerLink]="['/login']">Login</ion-button>
    
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>