<s-toolbar *ngIf="workspace" [title]="workspace.project.name"></s-toolbar>

<ion-content *ngIf="!workspace">
  <ion-spinner class="center" name="crescent"></ion-spinner>
</ion-content>

<ion-content *ngIf="workspace">
  <ion-grid scroll-y="false">
    <ion-row>
      <ion-col size="auto">
        <s-sidebar [context]="context"></s-sidebar>
      </ion-col>
      <ion-col size="auto">
        <s-menu *ngIf="context.action !== null" [context]="context"></s-menu>
      </ion-col>
      <ion-col *ngIf="workspace">
        <ion-content scroll-y="true">
          <s-editor [context]="context" (saving)="onSaving($event)"></s-editor>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>