ion-toolbar {
  display: inline-flex;
  float: left;
}

ion-title {
  font-size: x-large;
  padding-left: 10px;
}

ion-icon {
  font-size: xx-large;
  float: right;
  padding-right: 10px;
}