<ion-button color="dark" (click)="createFolder()">
  <ion-icon name="folder-outline"></ion-icon>
</ion-button>
<ion-button color="dark" (click)="createFile()">
  <ion-icon name="document-outline"></ion-icon>
</ion-button>
<ion-button color="dark" (click)="rename()">
  <ion-icon name="text-outline"></ion-icon>
</ion-button>
<ion-button color="dark" (click)="delete()">
  <ion-icon name="trash-outline"></ion-icon>
</ion-button>
<div class="tree-node-wrapper" *ngIf="nodes">
  <tree-root #tree [nodes]="nodes" [options]="options"></tree-root>
</div>