ion-button {
  --padding-start: 7px;
  --padding-end: 7px;
  margin-top: 0px;
}

.active {
  // --color: var(--dark-color);
  // --background: var(--light-color);
  --background: var(--ion-actionbar-background);
}